EXPO_PUBLIC_API_URL=https://v5omk198i7.execute-api.us-east-1.amazonaws.com/dev
EXPO_PUBLIC_COGNITO_REGION=us-east-1
EXPO_PUBLIC_COGNITO_CLIENT_ID=4ebok455tq97koe5md8i9jatk0
EXPO_PUBLIC_DEMO_MODE=false
